body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #cfb38e, #cfb38e);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: snow;
  height: 100px;
  box-shadow: 10px 5px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; /* L'accroche en haut */
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 60px;
  height: 60%;
  margin: 15px;
}

#header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 15px;
  text-decoration: none;
}

.banner {
  margin-right: 15px;
  text-decoration: none;
  font-family: "InaiMathi";
  color: black;
  transition: color 0.3s ease-in-out;
}

.banner:hover {
  color: #cfb38e;
}

.buttons {
  background-color: black;
  width: 190px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttons:hover {
  background-color: black;
  opacity: 80%;
}

.buttons-large {
  background-color: black;
  width: 255px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1Opx;
}

.buttons-large:hover {
  background-color: black;
  opacity: 80%;
}

.colorTextButtons {
  color: #ffffff;
  font-family: "InaiMathi";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: relative;
  margin-top: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.iconDevis {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

p {
  font-size: 1.2rem;
}

#clickable-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#clickable-image:hover {
  transform: scale(1.1);
}

#clickable-image:active {
  transform: scale(0.9);
}

#timer {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#click-count {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}

#message {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.return {
  width: 200px;
  height: 50px;
  background-color: black;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.return:hover {
  background-color: black;
  opacity: 80%;
}

.return-link {
  text-decoration: none;
}

.outline {
  background-color: #cfb38e;
  border: 5px solid white;
}
